<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	 <context:annotation-config/>
	 <context:component-scan base-package="com.ckxh" />
	 
	 <import resource="classpath:/config/applicationContext_*.xml"/>
	 
	 <mvc:annotation-driven enable-matrix-variables="true">
	    <mvc:message-converters>
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	            <property name="supportedMediaTypes">
	                <list>
	                	<value>text/html; charset=UTF-8</value>
	                    <value>text/plain; charset=UTF-8</value>
	                    <value>application/json; charset=UTF-8</value>
	                </list>
	            </property>
	        </bean>
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	            <property name="supportedMediaTypes">
	                <list>
	                	<value>text/html; charset=UTF-8</value>
	                    <value>application/json; charset=UTF-8</value>
	                    <value>application/x-www-form-urlencoded; charset=UTF-8</value>
	                </list>
	            </property>
	        </bean>
	    </mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <!-- the maximum file size in bytes,  default -1,  unlimit-->
	    <property name="maxUploadSize" value="-1"/>
	    <property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<!-- SpringMVC在超出上传文件限制时,会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->  
	<!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的,而且此时还没有进入到 Controller 方法中 -->  
	<!-- <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">  
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error/maxUploadExceeded</prop>
			</props>
		</property>  
	</bean> -->
	
	<mvc:default-servlet-handler />
    
</beans>